<v-shell>
    <div body class="align-self-stretch d-flex flex-column gap-2 h-100 py-2">
        <div class="card note-card" [ngClass]="{ 'overflow-hidden': !n.isExpanded, 'compact-note': !n.isExpanded }" *ngFor="let n of notes">
            <div class="card-body" [ngClass]="{ 'overflow-hidden': !n.isExpanded, 'compact-note': !n.isExpanded }"> <!-- position-relative -->
                <quill-view [content]="n.text"></quill-view>
                <!-- Note duration and expand icon at the top right -->
                <div class="note-duration position-absolute top-1 end-1" role="button" (click)="toggleExpanded(n, $event)">
                    <i class="bi bi-arrows-angle-expand"></i> <!-- Bootstrap Icons expand icon -->
                    {{n.durationText}}
                </div>
            </div>
        </div>
    </div>
    <ng-container footer>
        <button class="btn btn-primary me-2" (click)="addNote($event)">
            <i class="bi bi-plus-lg"></i> Add note
        </button>
    </ng-container>
</v-shell>